ion-list {
    --ion-background-color: transparent; /* Removes background of ion-list */
    background: transparent !important;
}
  
ion-item {
    --ion-background-color: transparent; /* Removes background of ion-item */
    --ion-item-background: transparent !important;
    background: transparent !important;
}