.interactive-card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .interactive-card:hover {
    transform: translateY(-5px);
    --background: var(--ion-color-light-shade);
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  }

  /* ion-button {
    --background: linear-gradient(135deg, #3b82f6, #9333ea, #e11d48);
    --background-hover: linear-gradient(135deg, #2563eb, #7e22ce, #be123c);
    --border-radius: 12px;
    --color: white;
    --padding-start: 16px;
    --padding-end: 16px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  ion-button:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  } */