.budget-footer {
  background-color: var(--ion-color-light-shade);
}

.budget-chip{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin: 32px 8px;
    text-align: center;
    padding: 4px;
}